@use "./colors.scss";
@use "./spacing.scss";
@use "./fonts.scss";

// Global Styles Here
body {
  background-color: colors.$colors-background;
  color: colors.$colors-general-text;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.w-full {
  width: 100%;
}
.text-center {
  text-align: center;
}
.btn-primary {
  background-color: #047857;
}
.py-1 {
  padding: 1px 0px 1px 0px;
}
.py-2 {
  padding: 2px 0px 2px 0px;
}
.py-3 {
  padding: 3px 0px 3px 0px;
}
.py-5 {
  padding: 5px 0px 5px 0px;
}
.py-8 {
  padding: 8px 0px 8px 0px;
}
.py-13 {
  padding: 13px 0px 13px 0px;
}
.my-1 {
  padding: 1px 0px 1px 0px;
}
.my-2 {
  padding: 2px 0px 2px 0px;
}
.my-3 {
  padding: 3px 0px 3px 0px;
}
.my-5 {
  padding: 5px 0px 5px 0px;
}
.my-8 {
  padding: 8px 0px 8px 0px;
}
.my-13 {
  padding: 13px 0px 13px 0px;
}
